<h1> Links </h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <a href="http://<%=link.url%>" target="_blank"><%=link.url%></a>
      tag:   <%= link.tags.map(&:name) %>
    </li>
  <% end %>

  <form action='/links/new'>
  <input type='submit' value='Create new link'>
  </form>
</ul>