<div>
	<form action='/links' method='post'>
		<label> Please input your new link </label>
		<p> url: </p>
		<input type='text' name='url'>
		<p> title: </p>
		<input type='text' name='title'>
    <p> tag: <p>
    <input type='text' name='tags'>
		<input type='submit' value='Create link'>
	</form>
</div>
