<div>
	<form action='/links' method='post'>
		<label> Please input your new link </label>
		<input type='text' name='url'>
		<input type='text' name='title'>
		<input type='submit' value='Create link'>
	</form>
</div>
